<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Not found</title>
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');
     :root {
    --main-color:#fe2c55;
    --body-bg: #181616;
    --box-bg: #221f1f;
    --text-color: #ffffff;
}
  body{
   font-family: 'Poppins', sans-serif;
  background-color: var(--body-bg);
    color: var(--text-color);

   }
    </style>
</head>
<body>
<h2>Search Results For:{{data}}</h2>
Apologies, but no results were found.
</body>
</html>